<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9433E9171CB1C52C00BD97BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9433E92B1CB1C52D00BD97BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9433E9361CB1C52D00BD97BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
